.generic-component-client-info {
  height: 45%; /*Alto*/
  width: 100%; /*Ancho*/
}

.client-info {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  /* justify-content: space-between; */
  /* border-radius: 15px; */
  /* padding: 15px; */
} 

.parte-1 {
  /* background-color: #2bd1ff; */
  width: 65%;
  display: flex;
  flex-direction: column;
}

.parte-info-1-1 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.parte-info-1-1 p { /*Se le quitan los margenes predeterminados a todos los p de la clase*/
  margin-bottom: 0;
}
.container-cedula { 
  /* background-color: thistle; */
  font-weight: 600;
  align-items: center;
  /* margin-bottom: 6px; */
}
.name-client-attention {
 /* background-color: #0f7bff; */
  font-size: 35px;
  font-weight: 350; 
  margin-bottom: 10px; 
}

/******** Botones Modernos ************/
.button-container-1-2 {
  /* background-color: yellow; */
  display: flex;
  gap: 15px; 
  justify-content: left; /*Horizontal*/
  align-items: center; /*Vertical*/
  /* padding: 6px 0; */
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.button i {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}
.attended {
  background: linear-gradient(135deg, #2bd1ff, #0f7bff); /* Gradiente azul */
}
.attended:hover {
  background: linear-gradient(135deg, #0f7bff, #2bd1ff); /* Gradiente invertido */
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.transfer {
  background: linear-gradient(135deg, #0d4769, #107cbb); /* Gradiente rosa */
}
.transfer:hover {
  background: linear-gradient(135deg, #107cbb, #0d4769); /* Gradiente invertido */
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.calification-1-3 {
  /* background-color: #107cbb; */
  display: flex; 
  align-items: center;
  justify-content: left;
  text-align: center;
  margin-top: 14px;
}
.calification-1-4 p {
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.parte-2 {
  /* background-color: tomato; */
  width: 35%;
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time-section {
  /* background-color: #2bd1ff; */
  text-align: center;
  margin: 7px 15px;
}
.text {
  font-size: 15px;
}
.time-section p {
  margin: 0;
}
.time {
  /* background-color: yellowgreen; */
  color: #083a57;
  font-size: 35px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



