.client-info {
  background-color: #fff;
  border-radius: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* flex: 2; */
  margin: 0px 15px 7.5px 15px;
  padding: 20px;
} 

.client-details {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.btn.green {
  background-color: #4CAF50;
}

.btn.blue {
  background-color: #2196F3;
}

.timer {
  text-align: center;
}
  