.module-status {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  .module-status h2 {
    margin-bottom: 20px;
  }
  
  .status {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .green {
    background-color: #4CAF50;
  }
  
  .red {
    background-color: #f44336;
  }
  
  .yellow {
    background-color: #ffeb3b;
  }
  