.module-status-content {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.radio-option {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 5px;
}
.module-status-content input[type='radio'] {
  margin-right: 5px;
}

.verde{
  /* background-color:green; */
}
.rojo{
  /* background-color:red; */
}
.amarillo{
  /* background-color: yellow; */
}