.generic-component-module-status {
  height: 30%;
  width: 100%;
}

.module-status-content {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
}

#estado { /*Estilos para el texto de los label*/
  color: white;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 8px;
}

.radio-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radio-option:not(:last-child) { /*:not(:last-child) se usa para aplicar estilos a todos los elementos menos al ultimo*/
  margin-bottom: 10px;
}

.module-status-content input[type='radio'] { /*margen derecho del input radio*/
  margin-right: 7px;
}

.radio-option label {
  font-family: sans-serif;
  font-size: 14px;
}
.radio-option input:checked + label { /*Texto del label en negrita al precionar*/
  font-weight: bold;
}

.colorEstado1 {
  background-color:green;
  padding: 0;
}
.colorEstado2 {
  background-color:red;
  padding: 0;
}
.colorEstado3 {
  background-color: #ffc107;
  padding: 0;
}