.waiting-clients {
  background-color: #fff;
  height: 60%;
  border-radius: 6px;
  padding: 15px; /*padding general*/
}

.waiting-clients header {
  /* background-color: aqua; */
  margin-bottom: 10px;
}
.waiting-clients h1 {
  /* background-color: blue; */
  font-size: 18px;
  font-weight: bold;
}

.waiting-clients main {
  /* background-color: springgreen; */
  margin: 0;
}
.waiting-clients ul {
  /* background-color: yellow; */
  list-style-type: none; /* Quitar puntos de la lista */
  padding-left: 0;
}
.waiting-clients li {
  /* background-color: tomato; */
  margin: 7px 0;
}
  

  